
<div class="py-4 position-relative ">
    <nav class="navbar navbar-expand-lg  position-fixed  bg-success box-shadow top-0 end-0 start-0 px-5 align-middle">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index","Product")">
                <img src="https://lh3.googleusercontent.com/wAPeTvxh_EwOisF8kMR2L2eOrIOzjfA5AjE28W5asyfGeH85glwrO6zyqL71dCC26R63chADTO7DLOjnqRoXXOAB8t2f4C3QnU6o0BA" alt="Alternate Text" width="50" height="50" />
                <span class="fs-30">Adminator</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5 " id="navbarNavAltMarkup">
                <div class="navbar-nav fs-18 fw-500 ">
                    <a class="nav-link text-white" aria-current="page" href="@Url.Action("Index","Product")">Kho hàng</a>
                    <a class="nav-link text-white" href="@Url.Action("Create","Product")">Thêm sản phẩm</a>
                    <a class="nav-link text-white" href="#">Đơn hàng</a>
                    <a class="nav-link text-white" href="@Url.Action("Index","Home")">Trang người dùng</a>
                </div>
            </div>
            <div class="end-0" id="accout"></div>
        </div>
    </nav>
</div>


