<div class="py-4 position-relative ">
    <nav class="navbar navbar-expand-lg  position-fixed  bg-success box-shadow top-0 end-0 start-0 px-5 align-middle">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index","Product")">
                <img src="https://lh3.googleusercontent.com/wAPeTvxh_EwOisF8kMR2L2eOrIOzjfA5AjE28W5asyfGeH85glwrO6zyqL71dCC26R63chADTO7DLOjnqRoXXOAB8t2f4C3QnU6o0BA" alt="Alternate Text" width="50" height="50" />
                <span class="fs-30">Adminator</span>
            </a>
        </div>
    </nav>
</div>



