
<header class="header">
    <div class="middle-content">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-left d-flex align-items-center">
                <div class="action-menu-responsive">
                    <div class="action nav-togger">
                        <i class="fa-solid fa-bars fs-21"></i>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="https://elise.vn/media/logo/default/logo_color.png" alt="Elise - Exclusive"
                         width="167" height="28" />
                </a>
            </div>
            <div class="header-center d-flex">
                <div class="search-form">
                    <div class="form-search d-flex align-items-center position-relative">
                        <form action="" class="form minisearch" id="search_mini_form">
                            <span class="title-search">Tìm Kiếm</span>

                            @*<input id="search" class="input-text" type="text" maxlength="128" />*@
                            <input id="search" class="input-text" type="text" maxlength="128" autocomplete="off" oninput="searchProducts()" />

                            <button type="submit" title="Tìm Kiếm" class="button" disabled="">
                                <i class="fa-solid fa-magnifying-glass fs-21"></i>
                            </button>
                        </form>

                        <div id="searchResults" class="position-absolute top-100 mt-3 w-100"></div>
                        <script>
                            // tạo độ trễ trước khi gọi dữ liệu từ HomeController/ActionSearch sau khi nhập liệu xong.
                            const debounceDelay = 300; // mi li giây.
                            let debounceTimeout;

                            function searchProducts() {
                                // Xóa timeout trước khi tạo.
                                clearTimeout(debounceTimeout);

                                // Lấy giá trị từ ô input sau khi nhập.
                                const searchTerm = document.getElementById("search").value;

                                // Tạo timeout. để có dộ trễ. chi khi dừng nhập và sau 300 mili giây thì fetch() sẽ được gọi.
                                debounceTimeout = setTimeout(() => {
                                    // Gửi yêu cầu lên HomeController/ActionSearch để lấy dữ liệu.
                                    fetch("/Home/Search", {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify({ searchTerm })
                                    })
                                        .then(response => response.text())
                                        .then(data => {
                                            // Hiển thị dữ liệu lên thẻ div#searchResults
                                            document.getElementById("searchResults").innerHTML = data;
                                        })
                                        .catch(error => console.error("Error:", error));
                                }, debounceDelay);
                            }
                        </script>

                    </div>
                </div>
            </div>
            <div class="header-right d-flex flex-end align-items-center">
                <div class="header-phone" data-role="stringee-area">
                    <div class="stringee-call-action d-flex align-items-center">
                        <i class="fa-solid fa-phone-flip fs-21 mr-10"></i><span>Gọi Ngay</span>
                    </div>
                </div>

                <div class="header-account ">
                    <div class=" is-canvas">
                        <span class="label"><i class="fa-regular fa-user fs-21 mr-10"></i></i>Tài Khoản</span>
                    </div>
                </div>

                <a href="@Url.Action("Cart", "Cart")">
                    <div class="cart">
                        <i class="fa-solid fa-bag-shopping fs-21"></i>
                    </div>
                </a>

                <div class="follow">
                    <i class="fa-regular fa-heart fs-21 hv"></i>
                </div>
            </div>
        </div>
    </div>
</header>

